<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<div th:replace="fragments :: navigation1"></div>
<div th:replace="fragments :: navigation2"></div>



<h2 th:text="${title}"></h2>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Employer Name</label>
        <input class="form-control" th:field="${employer.name}" />
        <span th:errors="${employer.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="address">Employer Address</label>
        <input class="form-control" th:field="${employer.address}" />
        <span th:errors="${employer.address}" class="error"></span>
    </div>

    <input type="submit" value="Add Employer" />
</form>
<div th:replace="fragments::footer"></div>
</body>
</html>