<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<div th:replace="fragments :: navigation1"></div>
<div th:replace="fragments :: navigation2"></div>

<div class="container  body-content">

<h1 th:text="${'City: ' + city.name}">Default Title</h1>


<div class="job-listing">
    <p th:text="${'City:' + city.name}"></p>

    <p> Jobs:
    <ul>
        <li th:each="job : ${city.jobs}">
            <a th:href="@{'/view/' + ${job.id}}" th:text="${job.name}"></a>
        </li>
    </ul>
    </p>

</div>
</div>
<div th:replace="fragments::footer"></div>

</body>
</html>