<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<!--<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <a th:href="@{/}" class="navbar-brand">TechJobs</a>-->
<!--        </div>-->
<!--        <div class="navbar-collapse collapse">-->
<!--            <ul class="nav navbar-nav">-->
<!--                <li><a th:href="@{/list}">List</a></li>-->
<!--                <li><a th:href="@{/search}">Search</a></li>-->
<!--                <li><a th:href="@{/add}">Add Jobs</a></li>-->
<!--                <li><a th:href="@{/delete}">Delete Jobs</a></li>-->
<!--                <li><a th:href="@{/employers}">All Employers</a></li>-->
<!--                <li><a th:href="@{/employers/add}">Add Employers</a></li>-->
<!--                <li><a th:href="@{/employers/delete}">Delete Employers</a></li>-->
<!--                <li><a th:href="@{/skills}">All Skills</a></li>-->
<!--                <li><a th:href="@{/skills/add}">Add Skills</a></li>-->
<!--                <li><a th:href="@{/skills/delete}">Delete Skills</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<nav th:fragment="navigation1" class="nav1">
    <ul class="list" >
        <li>For Developer: </li>
        <li><a th:href="@{/register}" style="color:white">Developer Register</a></li>
        <li><a th:href="@{/login}" style="color:white">Developer Login</a></li>
        <li><a th:href="@{/logout}" style="color:white">Developer Logout</a></li>
        <li><a th:href="@{/add}" style="color:white">Add Jobs</a></li>
        <li><a th:href="@{/delete}" style="color:white">Delete Jobs</a></li>
        <li><a th:href="@{/employers}" style="color:white">All Employers</a></li>
        <li><a th:href="@{/employers/add}" style="color:white">Add Employers</a></li>
        <li><a th:href="@{/employers/delete}" style="color:white">Delete Employers</a></li>
        <li><a th:href="@{/cities}" style="color:white">All Cities</a></li>
        <li><a th:href="@{/cities/add}" style="color:white">Add Cities</a></li>
        <li><a th:href="@{/cities/delete}" style="color:white">Delete Cities</a></li>
        <li><a th:href="@{/skills}" style="color:white">All Skills</a></li>
        <li><a th:href="@{/skills/add}" style="color:white">Add Skills</a></li>
        <li><a th:href="@{/skills/delete}" style="color:white">Delete Skills</a></li>
    </ul>
</nav>
<nav th:fragment="navigation2" class="nav2">
    <ul class="list">
        <li>For User: </li>
<!--        <li><a th:href="@{/}">All Jobs</a></li>-->
        <li><a th:href="@{/list}">List</a></li>
        <li><a th:href="@{/search}">Search</a></li>
    </ul>
</nav>


<footer th:fragment="footer" class="footer">
    <p>Author: David Dong            Email: daviddong201712@gmail.com</p>
</footer>

</body>
</html>